<!-- Footer -->
<footer>
  <p>
    &copy; 2023 SAGES Sistema automatizado de gerenciamento e solicitação de
    espaços versão atual 2.0.0
  </p>
  <br />
  <p>Desenvolvido por <a href="https://nivando.dev">Nivando Soares</a></p>
  <div style="display: flex; justify-content: center; margin-top: 10px">
    <a
      href="github.com/nivandosoares"
      target="_blank"
      style="color: #fff; margin: 0 10px; font-size: 18px"
    >
      <i class="fab fa-github"></i>
    </a>
    <a
      href="instagram.com/sr_just_airs"
      target="_blank"
      style="color: #fff; margin: 0 10px; font-size: 18px"
    >
      <i class="fab fa-instagram"></i>
    </a>
  </div>
  <img src="uploads/logo.png" alt="Cometa" width="70" height="40" />
  <p>Grupo Cometa de Educação</p>
</footer>
